In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("A.csv")

In [93]:
df

                 Country      beds       doc       BED     Tests      Cases
0                Algeria  0.358974  0.160756  0.080027  0.005784   148168.0
1              Argentina  0.564103  0.621246  0.080027  0.023446   163881.0
2              Australia  0.910256  0.538231  0.020446  0.287713   324354.0
3                Austria  0.897436  0.560995  0.011983  0.230096   723059.0
4             Bangladesh  0.012821  0.061445  0.080027  0.172725   253090.0
..                   ...       ...       ...       ...       ...        ...
73                Turkey  0.346154  0.213161  0.046167  0.143315  4033791.0
74  United Arab Emirates  0.282051  0.331251  0.080027  0.172725   415517.0
75        United Kingdom  0.551282  0.359101  0.095383  0.089444  6071750.0
76               Uruguay  0.487179  0.629247  0.080027  0.080725    27423.0
77               Vietnam  0.423077  0.146437  0.080027  0.013599    14786.0

[78 rows x 6 columns]

In [94]:
df["ratio"] = df["Tests"]/df["Cases"]

In [95]:
df = df.drop(columns=["Tests","Cases"],axis=1)

In [96]:
df["ratio"] = df["ratio"]*10000

In [97]:
df

                 Country      beds       doc       BED     ratio
0                Algeria  0.358974  0.160756  0.080027  0.000390
1              Argentina  0.564103  0.621246  0.080027  0.001431
2              Australia  0.910256  0.538231  0.020446  0.008870
3                Austria  0.897436  0.560995  0.011983  0.003182
4             Bangladesh  0.012821  0.061445  0.080027  0.006825
..                   ...       ...       ...       ...       ...
73                Turkey  0.346154  0.213161  0.046167  0.000355
74  United Arab Emirates  0.282051  0.331251  0.080027  0.004157
75        United Kingdom  0.551282  0.359101  0.095383  0.000147
76               Uruguay  0.487179  0.629247  0.080027  0.029437
77               Vietnam  0.423077  0.146437  0.080027  0.009197

[78 rows x 5 columns]

In [98]:
df["ratio"].max()

3.228506523364486

In [99]:
df["preparedness"] = df["beds"]+df["doc"]+df["BED"]

In [100]:
df["preparedness"] = df["preparedness"]/3
df["preparedness"] = df["preparedness"]+df["ratio"]
df["preparedness"] = df["preparedness"]/2

In [103]:
df

                 Country      beds       doc       BED     ratio  preparedness
0                Algeria  0.358974  0.160756  0.080027  0.000390      0.100155
1              Argentina  0.564103  0.621246  0.080027  0.001431      0.211611
2              Australia  0.910256  0.538231  0.020446  0.008870      0.249257
3                Austria  0.897436  0.560995  0.011983  0.003182      0.246660
4             Bangladesh  0.012821  0.061445  0.080027  0.006825      0.029128
..                   ...       ...       ...       ...       ...           ...
73                Turkey  0.346154  0.213161  0.046167  0.000355      0.101091
74  United Arab Emirates  0.282051  0.331251  0.080027  0.004157      0.117633
75        United Kingdom  0.551282  0.359101  0.095383  0.000147      0.167701
76               Uruguay  0.487179  0.629247  0.080027  0.029437      0.214127
77               Vietnam  0.423077  0.146437  0.080027  0.009197      0.112855

[78 rows x 6 columns]

In [104]:
df.to_csv("Prepared.csv")

In [108]:
df.head(30)

           Country      beds       doc       BED     ratio  preparedness
0          Algeria  0.358974  0.160756  0.080027  0.000390      0.100155
1        Argentina  0.564103  0.621246  0.080027  0.001431      0.211611
2        Australia  0.910256  0.538231  0.020446  0.008870      0.249257
3          Austria  0.897436  0.560995  0.011983  0.003182      0.246660
4       Bangladesh  0.012821  0.061445  0.080027  0.006825      0.029128
5          Belarus  0.987179  0.934534  0.080027  0.007890      0.337569
6          Belgium  0.782051  0.587343  0.016605  0.001534      0.231767
7           Brazil  0.435897  0.290614  0.325469  0.000567      0.175613
8           Brunei  0.448718  0.229942  0.080027  0.223101      0.237999
9         Cambodia  0.102564  0.033805  0.080027  0.263743      0.167937
10          Canada  0.589744  0.419134  0.021863  0.001311      0.172446
11           Chile  0.384615  0.209819  0.010858  0.000200      0.100982
12           China  0.333333  0.284880  0.080027  0.006994      0.119870
13        Colombia  0.179487  0.271230  0.052808  0.006832      0.087337
14      Costa Rica  0.256410  0.212648  0.003970  0.002043      0.079860
15         Croatia  0.743590  0.515111  0.080027  0.016642      0.231443
16  Czech Republic  0.858974  0.636720  0.014616  0.004510      0.253973
17         Denmark  0.641026  0.651038  0.003701  0.013599      0.222760
18         Ecuador  0.230769  0.266579  0.080027  0.000321      0.096390
19           Egypt  0.269231  0.330680  0.080027  0.008444      0.117545
20         Estonia  0.833333  0.767521  0.001468  0.041545      0.287826
21         Finland  0.846154  0.607765  0.007612  0.007700      0.247438
22          France  0.884615  0.550344  0.083380  0.000013      0.253063
23          Gambia  0.115385  0.017780  0.080027  3.228507      1.649785
24         Georgia  0.756410  1.000000  0.080027  0.087896      0.350021
25         Germany  0.923077  0.782874  0.130144  0.000257      0.306144
26           Ghana  0.128205  0.018240  0.080027  0.017416      0.046453
27          Greece  0.602564  0.723796  0.012854  0.007787      0.227096
28       Hong Kong  0.525641  0.194521  0.080027       NaN           NaN
29         Hungary  0.820513  0.621321  0.014643  0.008519      0.247006