In [1]:

import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt



import talib
import numpy as np

data = pd.read_csv("nifty.csv")

In [2]:


def addFeatures(stock):
    df = stock

    df['ATR'] = talib.ATR(np.asarray(df.High), np.asarray(df.Low), np.asarray(df.Close))

    return df


addFeatures(data)



def EMA(df, base, target, period, alpha=False):
    con = pd.concat([df[:period][base].rolling(window=period).mean(), df[period:][base]])

    if (alpha == True):
        # (1 - alpha) * previous_val + alpha * current_val where alpha = 1 / period
        df[target] = con.ewm(alpha=1 / period, adjust=False).mean()
    else:
        # ((current_val - previous_val) * coeff) + previous_val where coeff = 2 / (period + 1)
        df[target] = con.ewm(span=period, adjust=False).mean()

    df[target].fillna(0, inplace=True)
    return df


def ATR(df, period, ohlc=['Open', 'High', 'Low', 'Close']):
    atr = 'ATR_' + str(period)

    # Compute true range only if it is not computed and stored earlier in the df
    if not 'TR' in df.columns:
        df['h-l'] = df[ohlc[1]] - df[ohlc[2]]
        df['h-yc'] = abs(df[ohlc[1]] - df[ohlc[3]].shift())
        df['l-yc'] = abs(df[ohlc[2]] - df[ohlc[3]].shift())

        df['TR'] = df[['h-l', 'h-yc', 'l-yc']].max(axis=1)

        df.drop(['h-l', 'h-yc', 'l-yc'], inplace=True, axis=1)

    # Compute EMA of true range using ATR formula after ignoring first row
    EMA(df, 'TR', atr, period, alpha=True)

    return df





def SuperTrend(df, period, multiplier, ohlc=['Open', 'High', 'Low', 'Close']):
    ATR(df, period, ohlc=ohlc)
    atr = 'ATR_' + str(period)
    st = 'ST_' + str(period) + '_' + str(multiplier)
    stx = 'STX_' + str(period) + '_' + str(multiplier)

    # Compute basic upper and lower bands
    df['basic_ub'] = (df[ohlc[1]] + df[ohlc[2]]) / 2 + multiplier * df[atr]
    df['basic_lb'] = (df[ohlc[1]] + df[ohlc[2]]) / 2 - multiplier * df[atr]

    # Compute final upper and lower bands
    df['final_ub'] = 0.00
    df['final_lb'] = 0.00
    for i in range(period, len(df)):
        df['final_ub'].iat[i] = df['basic_ub'].iat[i] if df['basic_ub'].iat[i] < df['final_ub'].iat[i - 1] or \
                                                         df[ohlc[3]].iat[i - 1] > df['final_ub'].iat[i - 1] else \
        df['final_ub'].iat[i - 1]
        df['final_lb'].iat[i] = df['basic_lb'].iat[i] if df['basic_lb'].iat[i] > df['final_lb'].iat[i - 1] or \
                                                         df[ohlc[3]].iat[i - 1] < df['final_lb'].iat[i - 1] else \
        df['final_lb'].iat[i - 1]

    # Set the Supertrend value
    df[st] = 0.00
    for i in range(period, len(df)):
        df[st].iat[i] = df['final_ub'].iat[i] if df[st].iat[i - 1] == df['final_ub'].iat[i - 1] and df[ohlc[3]].iat[
            i] <= df['final_ub'].iat[i] else \
            df['final_lb'].iat[i] if df[st].iat[i - 1] == df['final_ub'].iat[i - 1] and df[ohlc[3]].iat[i] > \
                                     df['final_ub'].iat[i] else \
                df['final_lb'].iat[i] if df[st].iat[i - 1] == df['final_lb'].iat[i - 1] and df[ohlc[3]].iat[i] >= \
                                         df['final_lb'].iat[i] else \
                    df['final_ub'].iat[i] if df[st].iat[i - 1] == df['final_lb'].iat[i - 1] and df[ohlc[3]].iat[i] < \
                                             df['final_lb'].iat[i] else 0.00

        # Mark the trend direction up/down
    df[stx] = np.where((df[st] > 0.00), np.where((df[ohlc[3]] < df[st]), 'down', 'up'), np.NaN)

    # Remove basic and final bands from the columns
    df.drop(['basic_ub', 'basic_lb', 'final_ub', 'final_lb'], inplace=True, axis=1)

    df.fillna(0, inplace=True)

    return df




ATR(data, 14)
SuperTrend(data, 1, 1)


data.to_csv("Final.csv")

In [3]:
data

,Open,High,Low,Close,ATR,TR,ATR_14,ATR_1,ST_1_1,STX_1_1
0,10948.4004,10965.9004,10888.5498,10898.0498,0.000000,77.3506,0.000000,77.3506,0.0000,nan
1,10900.0000,10915.4502,10886.9004,10907.4502,0.000000,28.5498,0.000000,28.5498,10929.7251,down
2,10905.0000,10907.2998,10871.1504,10873.3496,0.000000,36.2998,0.000000,36.2998,10925.5249,down
3,10873.2998,10879.8496,10851.5000,10856.5498,0.000000,28.3496,0.000000,28.3496,10894.0244,down
4,10857.0000,10882.2500,10847.0000,10872.7500,0.000000,35.2500,0.000000,35.2500,10894.0244,down
...,...,...,...,...,...,...,...,...,...,...
2620,11594.1504,11618.7002,11594.1504,11614.4004,12.710364,24.5498,12.710364,24.5498,11581.8755,up
2621,11613.9502,11615.3496,11604.0000,11607.5498,12.613166,11.3496,12.613166,11.3496,11598.3252,up
2622,11607.5498,11607.7002,11594.0000,11595.9004,12.690811,13.7002,12.690811,13.7002,11614.5503,down
2623,11595.1504,11604.4502,11592.0000,11592.3496,12.673625,12.4502,12.673625,12.4502,11610.6753,down
2624,11592.5000,11598.9502,11590.2002,11594.9004,12.393366,8.7500,12.393366,8.7500,11603.3252,down